<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.bliss.TestNgFramework.listners.ExtentListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Create Customer API">
        <classes>
            <class name="com.bliss.APITestingFramework.Testcases.CreateCustomerTest">
                <methods>
                    <include name="validateCreateCustomerAPI"/>
                    <include name="InvalidateCreateCustomerAPI"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Delete Customer API">
    <classes>
            <class name="com.bliss.APITestingFramework.Testcases.DeleteCustomerTest">
                <methods>
                    <include name="validateDeleteCustomerAPI"/>
                </methods>
            </class>
        </classes>
    </test>
        </suite>